*{
    font-family: oswald;
    color: white;
}

body{
    min-height: 100vh;
    background-color: #1A1A1A;
    position: relative;
}

.content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    height: 84vh;
}

header{
    display: flex;
    justify-content: space-around;
    align-items:center;
    border-bottom: 3px solid black;
    z-index: 3;
    position: sticky;
    left: 0; right: 0; top: 0;
    background-color: rgb(37, 37, 37);
    height: 9vh;
}

ul{
    display: inline-flex;
    list-style: none;
}

ul li{
    padding: 1rem;
    font-size: 1.5rem;
    border-right: 3px solid black;
}

h1{
    font-size: 2rem;
    font-weight: 600;
}

h2{
    font-weight: 300;
}
a{
    font-weight: 400;
    text-decoration: none;
}

#titleName{
    line-height: 2rem;
}

a:hover{
    color: whitesmoke;
}

footer{
    position: relative;
    width: 100%;
    bottom: 0;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 1.2;
    background-color: rgb(37, 37, 37);
}

.footer-item{
    height: 100%;
    text-align: center;
    width: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.github{
    font-size: 2rem;
    font-weight: 300;
}

#profession{
    font-size: 1.7rem;
    font-weight: 500;
}

#skills{
    font-weight: 300;
}

#copyright{
    font-weight: 300;
}
