
.row-container{
    display:flex;
    justify-content: space-evenly;
    width:auto;
    height: 14rem;
    margin: 15vh 0;
}

.row-item{
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    padding: none;
    width: 15%;
    height: 100%;
    justify-content: space-between;  
    align-items: center;
    text-align: center;
}
#showcase{
    background-image: url(./Resources/showcase.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

#majewels{
    background-image: url(./Resources/majewels.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#tiling{
    background-image: url(./Resources/tiling.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.row-image{
    width: 100%;
    height: 90%;
    border-radius: 3%;
}

.row-image:hover{
    box-shadow: 0px 0px 30px 5px whitesmoke;
}

